.card {
  margin: 20px;
}

.card-grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

@media only screen and (max-width: 991px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 637px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
